// global color tokens
$-clr-blue: hsl(246, 80%, 60%);
$-clr-light-red-work: hsl(15, 100%, 70%);
$-clr-soft-blue-play: hsl(195, 74%, 62%);
$-clr-light-red-study: hsl(348, 100%, 68%);
$-clr-lime-green-exercise: hsl(145, 58%, 55%);
$-clr-violet-social: hsl(264, 64%, 52%);
$-clr-soft-orange-self-care: hsl(43, 84%, 65%);

$-clr-very-dark-blue: hsl(226, 43%, 10%);
$-clr-dark-blue: hsl(235, 46%, 20%);
$-clr-desaturated-blue: hsl(235, 45%, 61%);
$-clr-pale-blue: hsl(236, 100%, 87%);
$-clr-white: hsl(0, 0%, 100%);

$default: (
  "neutral": (
    "000": $-clr-white,
    "100": $-clr-pale-blue,
    "200": $-clr-desaturated-blue,
    "300": $-clr-dark-blue,
    "400": $-clr-very-dark-blue,
  ),
  "primary": (
    "100": $-clr-blue,
    "200": $-clr-soft-blue-play,
    "300": $-clr-light-red-study,
    "400": $-clr-light-red-work,
    "500": $-clr-lime-green-exercise,
    "600": $-clr-violet-social,
    "700": $-clr-soft-orange-self-care,
  ),
);

// contextual color tokens
$color-neutral-000: var(--neutral-000);
$color-neutral-100: var(--neutral-100);
$color-neutral-200: var(--neutral-200);
$color-neutral-300: var(--neutral-300);
$color-neutral-400: var(--neutral-400);

$color-primary-100: var(--primary-100);
$color-primary-200: var(--primary-200);
$color-primary-300: var(--primary-300);
$color-primary-400: var(--primary-400);
$color-primary-500: var(--primary-500);
$color-primary-600: var(--primary-600);
$color-primary-700: var(--primary-700);

// Change Theme
$active-theme: $default;

// box-shadow
$box-shadow-1: 0px 6px 5px rgb(0, 0, 0, 0.012),
  0px 22px 18px rgb(0, 0, 0, 0.018), 0px 100px 80px rgb(0, 0, 0, 0.03);

$box-shadow-2: 0px 6px 5px rgb(0, 0, 0, 0.016),
  0px 22px 18px rgb(0, 0, 0, 0.024), 0px 100px 80px rgb(0, 0, 0, 0.04);

$box-shadow-3: 0px 6px 5px rgb(0, 0, 0, 0.02), 0px 22px 18px rgb(0, 0, 0, 0.03),
  0px 100px 80px rgb(0, 0, 0, 0.05);

$box-shadow-4: 0px 6px 5px rgb(0, 0, 0, 0.03), 0px 22px 18px rgb(0, 0, 0, 0.042),
  0px 100px 80px rgb(0, 0, 0, 0.07);

$box-shadow-5: 0px 6px 5px rgb(0, 0, 0, 0.04), 0px 22px 18px rgb(0, 0, 0, 0.06),
  0px 100px 80px rgb(0, 0, 0, 0.1);
