@use "../abstracts/" as *;

.even-columns {
  display: grid;
  gap: var(--grid-gap, $grid-gap);
  align-content: space-between;
  height: 100%;
  @include mq(medium) {
    grid-template-columns: 1fr 1fr;
  }

  @include mq(large) {
    grid-template-columns: repeat(3, 1fr);
    --grid-gap: #{$size-8};
  }
}
