@font-face {
  font-family: "Rubik";
  font-weight: 300;
  font-display: swap;
  src: url("/public/fonts/Rubik-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-display: swap;
  src: url("/public/fonts/Rubik-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-weight: 500;
  font-display: swap;
  src: url("/public/fonts/Rubik-Medium.ttf") format("truetype");
}
